body {
  background-color: #fafbfc;
  color: #4a4a4a;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
}

hr {
  border: 0;
  border-bottom: 1px solid #585757;
  width: 100%;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
}

.rfh-sidebar {
}

.rfh-logo {
  margin-top: 40px;
  margin-bottom: 20px;
}

.rfh-sidebar-item {
  border: none;
  background: #ededed;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 5px;
}

.rfh-sidebar-item:hover,
.rfh-sidebar-item:focus {
  background: #dedede !important;
}

.rfh-no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.rfh-btn-default {
  background-color: #cccccc;
}

.rfh-issue-title {
  cursor: pointer;
  font-size: 20px;
  margin: 0;
}

.rfh-project-name {
  margin-left: 20px;
}

.rfh-issue-form-date {
  padding-right: 0;
  width: 19%;
}

.rfh-issue-form-time {
  padding-right: 0;
  width: 9%;
}

.rfh-issue-form-comment {
  padding-right: 0;
  width: 63%;
}

.rfh-time-log-button {
  width: 100%;
  border: 0;
  transition: all 0.2s ease-in-out;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4145a+0,f26851+100 */
  background: #d4145a; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #d4145a 0%,
    #f26851 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#d4145a',
      endColorstr='#f26851',
      GradientType=1
    ); /* IE6-9 */
}
.rfh-time-log-button:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 400;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4145a+0,f26851+100 */
  background: #d4145a; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #d4145a 0%,
    #f26851 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#d4145a',
      endColorstr='#f26851',
      GradientType=1
    ); /* IE6-9 */
}
.rfh-time-log-button:focus,
.rfh-time-log-button:active {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  outline: none !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4145a+0,f26851+100 */
  background: #d4145a; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #d4145a 0%,
    #f26851 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#d4145a',
      endColorstr='#f26851',
      GradientType=1
    ); /* IE6-9 */
}

.rfh-logged-issue-msg {
  background-color: #cccccc;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color; /*Safari e Chrome */
  -webkit-transition-duration: 2s;
  -o-transition-property: background-color; /*Opera*/
  -o-transition-duration: 2s;
  -moz-transition-property: background-color; /*Firefox*/
  -moz-transition-duration: 2s;
}

.rfh-issues-list {
  height: 100px;
}

.rfh-projects-count {
  text-transform: uppercase;
}

.rfh-projects-number {
  font-size: 24px;
}

.rfh-search--project-box,
.rfh-search-box {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 20px 0 40px;
  padding-left: 30px;
}
.rfh-search--project-box:focus,
.rfh-search-box:focus {
  outline: none;
  box-shadow: 0 2px 3px rgba(212, 20, 90, 0.5);
}
.rfh-search-box {
  height: 68px;
  margin: -4px 0 40px;
  font-size: 18px;
  padding-left: 40px;
}
.search-container--issue .search-icon {
  top: 20px;
  font-size: 24px;
}

.whiterabbit-link {
  background: #363947;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px 20px;
  border-radius: 0 0 0 20px;
}
.rfh-white-rabbit {
  top: 25px;
  position: absolute;
  display: block;
  right: 20px;
  color: white;
  font-size: 10px;
}
.whiterabbit-link img {
  width: 150px;
}

.search-container {
  position: relative;
}
.search-container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  display: block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4145a+0,f26851+100 */
  background: #d4145a; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #d4145a 0%,
    #f26851 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#d4145a',
      endColorstr='#f26851',
      GradientType=1
    ); /* IE6-9 */
}
.search-icon {
  left: 5px;
  top: 12px;
  position: absolute;
}

.lead {
  font-size: 28px;
}

.rfh-issues-list .list-group-item {
  border: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 20px 40px;
}

.page-header {
  border: 0;
}

.issue-meta {
  padding-left: 0;
  margin-top: 20px;
}
.issue-meta li {
  display: inline-block;
  margin-right: 20px;
  color: #888888;
  font-weight: 300;
}
.issue-date {
  font-weight: 300;
  font-style: italic;
}
.issue-project {
  font-weight: 700;
}
.issue-divider {
  color: #890962;
  font-style: italic;
}
.edit-issue-link {
  color: white;
  padding: 3px 5px;
  border-radius: 4px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4145a+0,f26851+100 */
  background: #d4145a; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #d4145a 0%,
    #f26851 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#d4145a',
      endColorstr='#f26851',
      GradientType=1
    ); /* IE6-9 */
}
.edit-issue-link:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  outline: none !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4145a+0,f26851+100 */
  background: #d4145a; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #d4145a 0%,
    #f26851 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#d4145a',
      endColorstr='#f26851',
      GradientType=1
    ); /* IE6-9 */
  text-decoration: none !important;
}
.edit-issue-link:active,
.edit-issue-link:focus {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  outline: none !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4145a+0,f26851+100 */
  background: #d4145a; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #d4145a 0%,
    #f26851 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #d4145a 0%,
    #f26851 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#d4145a',
      endColorstr='#f26851',
      GradientType=1
    ); /* IE6-9 */
  text-decoration: none !important;
}
.issue-time {
  background: rgba(242, 104, 81, 0.2);
  padding: 3px 5px;
  border-radius: 4px;
  font-weight: 700;
  color: #4a4a4a;
}
.issue-comment {
  background: #ededed;
  padding: 3px 5px;
  border-radius: 4px;
  font-style: italic;
  color: #4a4a4a;
  font-weight: 400;
  display: inline-block;
}

.rfh-issues-list .list-group-item form {
  margin-top: 20px;
  background: rgba(242, 104, 81, 0.1);
  padding: 20px;
  border-radius: 4px;
}
